.topBarContainer {
  height: 50px;
  width: 100%;
  background-color: #1877f2;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}
.topBarLeft {
  flex: 3;
}
.topBarLogo {
  font-weight: 500;
  font-size: 20px;
  color: white;
  margin-left: 20px;
}
.centerContainer {
  flex: 5;
  height: 30px;
  background: white;
  border-radius: 20px;
  align-items: center;
  display: flex;
  position: relative;
}
.searchIcon {
  font-size: 20px !important;
  margin-left: 10px;
}
.searchInput {
  border: none;
  width: 80%;
  font-size: 13px;
  font-weight: 500;
}
.topBarCancelIcon {
  font-size: 19px !important;
}
.topBarCancelButton {
  position: absolute;
  right: 10px;
  border: none;
  background: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.searchInput:focus {
  outline: none;
}
.topBarRight {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.linkText {
  font-size: 14px;
  cursor: pointer;
  margin-left: 10px;
  color: white;
}
.icon {
  margin-left: 10px;
}
.iconsContainer {
  display: flex;
  align-items: center;
}
.iconContainer {
  position: relative;
  cursor: pointer;
  margin-left: 7px;
}
.iconBadge {
  position: absolute;
  background: red;
  border-radius: 50%;
  top: -5px;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  font-size: 12px;
  align-items: center;
  right: -5px;
  color: white;
}
.icon {
  color: white;
}
.profileImage {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
}
